<div class="container mx-auto p-5 w-50">
  <div *ngIf="message" class="alert alert-danger">
    {{ message }}
  </div>
  <div class="shadow p-3">
    <h1 class="text-center fs-2">Connexion</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>

      <button
        [disabled]="!loginForm.valid"
        type="submit"
        class="btn btn-primary"
      >
        {{ !processConnexion ? " Connexion" : "" }}
        <div
          *ngIf="processConnexion"
          class="spinner-border"
          role="status"
        ></div>
      </button>
    </form>
  </div>
</div>
